requests
customtkinter>=5.2.0
gspread>=6.0.0
oauth2client
google-api-python-client>=2.70.0
google-auth-oauthlib>=0.7.0
playwright
telethon
undetected-chromedriver
pandas
openpyxl
pyautogui
pyperclip
easyocr
mss
pillow
keyboard
fastapi
uvicorn
python-multipart
